header{
    color: white;
    font: normal 50px Arial;
    text-align: center;
}
body{
    background-color: rgba(0, 60, 255, 0.555);
    font: normal 20px Arial;
}
section{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.555);
    text-align: center;
    
}
footer{
    color: white;
    font: normal 15px Arial;
    text-align: center;
}